/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.notification-toast{
    position: absolute;
    top: 13%;
    right: 3%;
}

.h-screen-min{
    height: 80vh;
}